body {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    background-color: white;
    width: 900px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.icon-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.icon {
    text-align: center;
    font-size: 50px;
    transition: transform 0.2s;
    background: white;
    border-radius: 20px;
    padding: 10px;
}
.icon:hover {
    transform: scale(1.1);
}
.i_champions{
    width: 100px;
    height: 100px;
}


